@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ======================================================
                    VARIABLES & GENERAL CSS
========================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  resize: none;
  outline: none;
  border: none;
}

:root {
  --color-bg: #e1e1e1;
  --color-text: #212121;
  --color-tertiary: #fa87df;

  --shadow: 6px 6px 12px #bababa, -6px -6px 12px #ffffff;
  --inner-shadow: inset 6px 6px 12px #bababa, inset -6px -6px 12px #ffffff;

  --width-lg: 80%;
  --width-sm: 95%;
  --transition: all 0.4s ease-in;
}

body {
  font-family: "Great Vibes", cursive;
  font-family: "Rubik", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
  height: 100vh;
  width: 100%;
  position: relative;
}
body.active {
  --color-bg: #212121;
  --color-text: #e0e0e0;
  --color-tertiary: crimson;

  --shadow: 0.5rem 0.5rem 1rem #111, -6px -6px 12px #333;
  --inner-shadow: inset 0.5rem 0.5rem 1rem #111, inset -6px -6px 12px #333;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: var(--inner-shadow);
}
::-webkit-scrollbar-thumb {
  box-shadow: var(--shadow);
  background: var(--color-tertiary);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
a {
  color: var(--color-text);
  font-size: 0.9rem;
}
span,
p {
  font-size: 0.9rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.1rem;
}
.container {
  margin: 0 auto;
  width: var(--width-lg);
}
section {
  padding: 5rem 0 3rem;
  min-height: 100vh;
}
.title {
  text-align: center;
  margin-bottom: 6rem;
}
.title h2 {
  font-size: 2.5rem;
  display: inline-block;
  color: var(--color-text);
  font-weight: 300;
}
.title h2 span {
  font-size: 2.5rem;
  color: var(--color-tertiary);
  font-weight: 900;
}

.scrollbar::-webkit-scrollbar {
  height: 0.66rem;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.scrollbar::-webkit-scrollbar-button {
  width: 0.8rem;
}

/* ======================================================
              NAVBAR
========================================================*/
nav {
  padding: 0.6rem 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
nav.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-bg);
  z-index: 11111;
  box-shadow: var(--shadow);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0.2rem 2rem;
  background: transparent;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.logo span {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-tertiary);
}
.logo.logo:hover {
  color: #666;
  box-shadow: var(--inner-shadow);
}
.nav-icons {
  display: flex;
  gap: 2rem;
  margin-left: 77rem;
}
.nav-icons div {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--color-text);
  background: var(--color-bg);
  box-shadow: var(--shadow);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  cursor: pointer;
}
.nav-icons div:hover {
  color: var(--color-tertiary);
  box-shadow: var(--inner-shadow);
}
#menu-btn {
  display: none;
}

/* ======================================================
              HOME
========================================================*/
.home {
  width: 100%;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 20px;
}
.home .left {
  margin-top: 3rem;
}
.home .left h1 {
  font-size: 3.3rem;
  font-weight: 800;
}
.home .left h1 span {
  font-size: 3.5rem;
  color: var(--color-tertiary);
}
.home .left h3 span {
  font-size: 1.5rem;
  color: var(--color-tertiary);
}
.home .left p {
  padding: 1rem 0;
  margin-top: 30px;
}

.textb p {
  width: 20rem;
  box-shadow: var(--shadow);
  background: var(--color-bg);
  margin: 0rem;
  font-weight: 800;
  font-size: 18px;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  text-align: center;
}
.home .social-icons {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 27px;
}

.home .social-icons i {
  height: 5rem;
  width: 5rem;
  box-shadow: var(--shadow);
  background: var(--color-bg);
  padding: 0.8rem;
  margin: 0.7rem;
  font-weight: 800;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.home .social-icons i:hover {
  color: var(--color-tertiary);
  box-shadow: var(--inner-shadow);
}
.home .right {
  margin: auto;
}
.home .right img {
  max-width: 35rem;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  width: 500px;
  height: 500px;
}
